@use '../../partials/partials' as *;

table, th, td {
    border: 1px solid black;
}

.log{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // max-width: 1000px;
    margin: auto;
    margin-top: 100px;

    &__container{
        box-shadow: 5px 5px 10px rgba(0,0,0,0.57);
        width: 320px;
        margin: 20px;
    }
    &__date{
        text-align: center;
        text-decoration: underline;
    }
    &__exercise{
        text-align: center;
    }
    &__table{
        width: 100%;
        text-align: center;
    }
    &__button{
        background: #404040;
    border: none;
	color: #ffffff;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
    text-decoration: none;
    display: block;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    &:hover{
        color: #404040 !important;
	font-weight: 700 !important;
    width: 200px;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
    }
    }
}